In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [5]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [6]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [7]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [9]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [13]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid={'criterion':['mse','mae','friedman_mse'],'max_features':['auto','sqrt','log2'],'splitter':['best','random']}
grid=GridSearchCV(DecisionTreeRegressor(),param_grid,refit=True,verbose=3,n_jobs=1)
grid.fit(X_train,y_train)

Fitting 5 folds for each of 18 candidates, totalling 90 fits
[CV 1/5] END criterion=mse, max_features=auto, splitter=best;, score=nan total time=   0.0s
[CV 2/5] END criterion=mse, max_features=auto, splitter=best;, score=nan total time=   0.0s
[CV 3/5] END criterion=mse, max_features=auto, splitter=best;, score=nan total time=   0.0s
[CV 4/5] END criterion=mse, max_features=auto, splitter=best;, score=nan total time=   0.0s
[CV 5/5] END criterion=mse, max_features=auto, splitter=best;, score=nan total time=   0.0s
[CV 1/5] END criterion=mse, max_features=auto, splitter=random;, score=nan total time=   0.0s
[CV 2/5] END criterion=mse, max_features=auto, splitter=random;, score=nan total time=   0.0s
[CV 3/5] END criterion=mse, max_features=auto, splitter=random;, score=nan total time=   0.0s
[CV 4/5] END criterion=mse, max_features=auto, splitter=random;, score=nan total time=   0.0s
[CV 5/5] END criterion=mse, max_features=auto, splitter=random;, score=nan total time=   0.0s
[CV 1/5] END criterion=mse, max_features=sqrt, splitter=best;, score=nan total time=   0.0s
[CV 2/5] END criterion=mse, max_features=sqrt, splitter=best;, score=nan total time=   0.0s
[CV 3/5] END criterion=mse, max_features=sqrt, splitter=best;, score=nan total time=   0.0s
[CV 4/5] END criterion=mse, max_features=sqrt, splitter=best;, score=nan total time=   0.0s
[CV 5/5] END criterion=mse, max_features=sqrt, splitter=best;, score=nan total time=   0.0s
[CV 1/5] END criterion=mse, max_features=sqrt, splitter=random;, score=nan total time=   0.0s
[CV 2/5] END criterion=mse, max_features=sqrt, splitter=random;, score=nan total time=   0.0s
[CV 3/5] END criterion=mse, max_features=sqrt, splitter=random;, score=nan total time=   0.0s
[CV 4/5] END criterion=mse, max_features=sqrt, splitter=random;, score=nan total time=   0.0s
[CV 5/5] END criterion=mse, max_features=sqrt, splitter=random;, score=nan total time=   0.0s
[CV 1/5] END criterion=mse, max_features=log2, splitter=best;, score=nan total time=   0.0s
[CV 2/5] END criterion=mse, max_features=log2, splitter=best;, score=nan total time=   0.0s
[CV 3/5] END criterion=mse, max_features=log2, splitter=best;, score=nan total time=   0.0s
[CV 4/5] END criterion=mse, max_features=log2, splitter=best;, score=nan total time=   0.0s
[CV 5/5] END criterion=mse, max_features=log2, splitter=best;, score=nan total time=   0.0s
[CV 1/5] END criterion=mse, max_features=log2, splitter=random;, score=nan total time=   0.0s
[CV 2/5] END criterion=mse, max_features=log2, splitter=random;, score=nan total time=   0.0s
[CV 3/5] END criterion=mse, max_features=log2, splitter=random;, score=nan total time=   0.0s
[CV 4/5] END criterion=mse, max_features=log2, splitter=random;, score=nan total time=   0.0s
[CV 5/5] END criterion=mse, max_features=log2, splitter=random;, score=nan total time=   0.0s
[CV 1/5] END criterion=mae, max_features=auto, splitter=best;, score=nan total time=   0.0s
[CV 2/5] END criterion=mae, max_features=auto, splitter=best;, score=nan total time=   0.0s
[CV 3/5] END criterion=mae, max_features=auto, splitter=best;, score=nan total time=   0.0s
[CV 4/5] END criterion=mae, max_features=auto, splitter=best;, score=nan total time=   0.0s
[CV 5/5] END criterion=mae, max_features=auto, splitter=best;, score=nan total time=   0.0s
[CV 1/5] END criterion=mae, max_features=auto, splitter=random;, score=nan total time=   0.0s
[CV 2/5] END criterion=mae, max_features=auto, splitter=random;, score=nan total time=   0.0s
[CV 3/5] END criterion=mae, max_features=auto, splitter=random;, score=nan total time=   0.0s
[CV 4/5] END criterion=mae, max_features=auto, splitter=random;, score=nan total time=   0.0s
[CV 5/5] END criterion=mae, max_features=auto, splitter=random;, score=nan total time=   0.0s
[CV 1/5] END criterion=mae, max_features=sqrt, splitter=best;, score=nan total time=   0.0s
[CV 2/5] END criterion=mae, max_features=sqrt, splitter=best;, score=nan total time=   0.0s
[CV 3/5] END criterion=mae, max_features=sqrt, splitter=best;, score=nan total time=   0.0s
[CV 4/5] END criterion=mae, max_features=sqrt, splitter=best;, score=nan total time=   0.0s
[CV 5/5] END criterion=mae, max_features=sqrt, splitter=best;, score=nan total time=   0.0s
[CV 1/5] END criterion=mae, max_features=sqrt, splitter=random;, score=nan total time=   0.0s
[CV 2/5] END criterion=mae, max_features=sqrt, splitter=random;, score=nan total time=   0.0s
[CV 3/5] END criterion=mae, max_features=sqrt, splitter=random;, score=nan total time=   0.0s
[CV 4/5] END criterion=mae, max_features=sqrt, splitter=random;, score=nan total time=   0.0s
[CV 5/5] END criterion=mae, max_features=sqrt, splitter=random;, score=nan total time=   0.0s
[CV 1/5] END criterion=mae, max_features=log2, splitter=best;, score=nan total time=   0.0s
[CV 2/5] END criterion=mae, max_features=log2, splitter=best;, score=nan total time=   0.0s
[CV 3/5] END criterion=mae, max_features=log2, splitter=best;, score=nan total time=   0.0s
[CV 4/5] END criterion=mae, max_features=log2, splitter=best;, score=nan total time=   0.0s
[CV 5/5] END criterion=mae, max_features=log2, splitter=best;, score=nan total time=   0.0s
[CV 1/5] END criterion=mae, max_features=log2, splitter=random;, score=nan total time=   0.0s
[CV 2/5] END criterion=mae, max_features=log2, splitter=random;, score=nan total time=   0.0s
[CV 3/5] END criterion=mae, max_features=log2, splitter=random;, score=nan total time=   0.0s
[CV 4/5] END criterion=mae, max_features=log2, splitter=random;, score=nan total time=   0.0s
[CV 5/5] END criterion=mae, max_features=log2, splitter=random;, score=nan total time=   0.0s
[CV 1/5] END criterion=friedman_mse, max_features=auto, splitter=best;, score=nan total time=   0.0s
[CV 2/5] END criterion=friedman_mse, max_features=auto, splitter=best;, score=nan total time=   0.0s
[CV 3/5] END criterion=friedman_mse, max_features=auto, splitter=best;, score=nan total time=   0.0s
[CV 4/5] END criterion=friedman_mse, max_features=auto, splitter=best;, score=nan total time=   0.0s
[CV 5/5] END criterion=friedman_mse, max_features=auto, splitter=best;, score=nan total time=   0.0s
[CV 1/5] END criterion=friedman_mse, max_features=auto, splitter=random;, score=nan total time=   0.0s
[CV 2/5] END criterion=friedman_mse, max_features=auto, splitter=random;, score=nan total time=   0.0s
[CV 3/5] END criterion=friedman_mse, max_features=auto, splitter=random;, score=nan total time=   0.0s
[CV 4/5] END criterion=friedman_mse, max_features=auto, splitter=random;, score=nan total time=   0.0s
[CV 5/5] END criterion=friedman_mse, max_features=auto, splitter=random;, score=nan total time=   0.0s
[CV 1/5] END criterion=friedman_mse, max_features=sqrt, splitter=best;, score=0.715 total time=   0.0s
[CV 2/5] END criterion=friedman_mse, max_features=sqrt, splitter=best;, score=0.592 total time=   0.0s
[CV 3/5] END criterion=friedman_mse, max_features=sqrt, splitter=best;, score=0.745 total time=   0.0s
[CV 4/5] END criterion=friedman_mse, max_features=sqrt, splitter=best;, score=0.713 total time=   0.0s
[CV 5/5] END criterion=friedman_mse, max_features=sqrt, splitter=best;, score=0.607 total time=   0.0s
[CV 1/5] END criterion=friedman_mse, max_features=sqrt, splitter=random;, score=0.711 total time=   0.0s
[CV 2/5] END criterion=friedman_mse, max_features=sqrt, splitter=random;, score=0.546 total time=   0.0s
[CV 3/5] END criterion=friedman_mse, max_features=sqrt, splitter=random;, score=0.558 total time=   0.0s
[CV 4/5] END criterion=friedman_mse, max_features=sqrt, splitter=random;, score=0.474 total time=   0.0s
[CV 5/5] END criterion=friedman_mse, max_features=sqrt, splitter=random;, score=0.687 total time=   0.0s
[CV 1/5] END criterion=friedman_mse, max_features=log2, splitter=best;, score=0.673 total time=   0.0s
[CV 2/5] END criterion=friedman_mse, max_features=log2, splitter=best;, score=0.603 total time=   0.0s
[CV 3/5] END criterion=friedman_mse, max_features=log2, splitter=best;, score=0.640 total time=   0.0s
[CV 4/5] END criterion=friedman_mse, max_features=log2, splitter=best;, score=0.680 total time=   0.0s
[CV 5/5] END criterion=friedman_mse, max_features=log2, splitter=best;, score=0.631 total time=   0.0s
[CV 1/5] END criterion=friedman_mse, max_features=log2, splitter=random;, score=0.719 total time=   0.0s
[CV 2/5] END criterion=friedman_mse, max_features=log2, splitter=random;, score=0.520 total time=   0.0s
[CV 3/5] END criterion=friedman_mse, max_features=log2, splitter=random;, score=0.349 total time=   0.0s
[CV 4/5] END criterion=friedman_mse, max_features=log2, splitter=random;, score=0.577 total time=   0.0s
[CV 5/5] END criterion=friedman_mse, max_features=log2, splitter=random;, score=0.590 total time=   0.0s

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
70 fits failed out of a total of 90.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
30 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of DecisionTreeRegressor must be a str among {'poisson', 'absolute_error', 'friedman_mse', 'squared_error'}. Got 'mse' instead.

--------------------------------------------------------------------------------
30 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of DecisionTreeRegressor must be a str among {'poisson', 'absolute_error', 'friedman_mse', 'squared_error'}. Got 'mae' instead.

--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of DecisionTreeRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [       nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan 0.6744371  0.59507024 0.6453564  0.55098283]
  warnings.warn(

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [14]:
#re=grid.cv_results_
#grid_predictions=grid.predict(X_test)
#print("The RScore value for best parameters {}".format(grid.best_params_))

The RScore value for best parameters {'criterion': 'friedman_mse', 'max_features': 'sqrt', 'splitter': 'best'}

In [20]:
re=grid.cv_results_
grid_predictions=grid.predict(X_test)
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_predictions)
print("The RScore value for best parameters {}".format(grid.best_params_),r_score)

The RScore value for best parameters {'criterion': 'friedman_mse', 'max_features': 'sqrt', 'splitter': 'best'} 0.5873988536704273

In [21]:
table=pd.DataFrame.from_dict(re)

In [16]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.001600,0.003200,0.000000,0.000000,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
1,0.001618,0.003237,0.000000,0.000000,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
2,0.000000,0.000000,0.000000,0.000000,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
3,0.003127,0.006253,0.000000,0.000000,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
4,0.003125,0.006250,0.000000,0.000000,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
5,0.003126,0.006251,0.000000,0.000000,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
6,0.002171,0.004341,0.000000,0.000000,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
7,0.000448,0.000896,0.000000,0.000000,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
8,0.001643,0.003215,0.000000,0.000000,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
9,0.001650,0.003299,0.000000,0.000000,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
10,0.000000,0.000000,0.000000,0.000000,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
11,0.003133,0.006266,0.000000,0.000000,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
12,0.000000,0.000000,0.000000,0.000000,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
13,0.000000,0.000000,0.000000,0.000000,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
14,0.027544,0.028376,0.004726,0.006272,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.714521,0.592230,0.745190,0.712816,0.607430,0.674437,0.062183,1
15,0.015624,0.000001,0.000000,0.000000,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.710802,0.545669,0.558241,0.474000,0.686640,0.595070,0.089704,3
16,0.012675,0.007715,0.005237,0.006611,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.672523,0.603082,0.640382,0.679815,0.630980,0.645356,0.028086,2
17,0.012515,0.006257,0.003117,0.006233,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.718763,0.520233,0.349452,0.576634,0.589832,0.550983,0.119898,4

In [22]:
age_input=float(input('Age:'))
bmi_input=float(input('BMI:'))
children_input=float(input('Children:'))
sex_male_input=int(input('Sex Male 0 or 1:'))
smoker_yes_input=int(input('Smoker yes 0 or 1:'))

Age:19
BMI:27.900
Children:0
Sex Male 0 or 1:0
Smoker yes 0 or 1:1

In [23]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print('Future_Prediction={}'.format(Future_Prediction))

Future_Prediction=[63770.42801]